<div  style="margin-top: 20px; margin-left: 45px">

 <mp-workspace-layout horizontal-collapsed-size=0>
          <mp-workspace-row>
            <mp-workspace-item id='1' default-size=550>
                <div class='grid-demo' style='flex: 1;  width:500px'>
                  <h2>Search over Tasks & Methods</h2>
                  <semantic-search>
                    <semantic-search-query-keyword
                      query='PREFIX kmi: <http://scholkg.kmi.open.ac.uk/aikg/ontology#>
                            SELECT DISTINCT ?subject WHERE {
                              {
                                ?subject a kmi:Task .
                              }
                              UNION
                              {
                                ?subject a kmi:Method .
                              }
                              FILTER REGEX(LCASE(STRAFTER (STR(?subject), "http://scholkg.kmi.open.ac.uk/aikg/resource/") ), LCASE(?__token__), "i")
                            }
                      '
                    ></semantic-search-query-keyword>

                    <semantic-search-result-holder>
                      <semantic-search-result>
                        <semantic-table
                          id='overall-search-table'
                          query='SELECT ?subject ?label ?typeLabel WHERE {
                              #SERVICE <https://scholkg.kmi.open.ac.uk/sparqlendpoint/>
                              #{
                                ?subject a ?type .
                                BIND ( STRAFTER (STR(?subject), "http://scholkg.kmi.open.ac.uk/aikg/resource/") AS ?label)
                                BIND ( STRAFTER (STR(?type), "http://scholkg.kmi.open.ac.uk/aikg/ontology#") AS ?typeLabel)
                              #}
                            } ORDER BY DESC (?score) (?label) LIMIT 50'
                          tuple-template='{{>resultTemplate}}'
                          options='{"showFilter": false}'
                        >
                          <template id='resultTemplate'>
                            <div style="cursor: pointer; color: blue; width: 100%; padding: 0.1rem 1rem;">
                            <mp-event-trigger type="Component.TemplateUpdate" targets='["event-target"]' data='{"item": "<{{subject.value}}>"}'>
                              <span style="cursor: pointer; color: blue;">{{label.value}} ({{typeLabel.value}})</span>
                            </mp-event-trigger>
                            </div>
                          </template>
                        </semantic-table>
                      </semantic-search-result>
                    </semantic-search-result-holder>
                  </semantic-search>
               
                  <h2>KMI AI-KG Tasks</h2>
                  <div style="padding: 20px; margin: 20px;height:500px; background-color: #f7f7f7; border: 1px solid #e8e8e8;">
                  <semantic-lazy-tree
                                roots-query='SELECT DISTINCT ?item ?hasChildren WHERE {
                                          ?item a <http://scholkg.kmi.open.ac.uk/aikg/ontology#Task> .
                                          FILTER NOT EXISTS { ?item  skos:broader  ?supertopic . }  
                                          OPTIONAL { ?subtopic skos:broader ?item . } 
                                          BIND (IF(BOUND(?subtopic), "true", "false") AS ?hasChildren) 
                                        }'

                                children-query='SELECT ?item ?hasChildren WHERE {
                                                  ?item skos:broader ?parent . 
                                                  OPTIONAL { ?subtopic skos:broader ?item . }
                                                  BIND (IF(BOUND(?subtopic), "true", "false") AS ?hasChildren)
                                                }'
                                node-template='{{> node}}'

                                search-query='SELECT DISTINCT ?item ?label ?score ?hasChildren WHERE {
                                                ?item a <http://scholkg.kmi.open.ac.uk/aikg/ontology#Task> .
                                                BIND ( STRAFTER (STR(?item), "http://scholkg.kmi.open.ac.uk/aikg/resource/") AS ?label)
                                                BIND("false" AS ?hasChildren)
                                                FILTER REGEX(LCASE(STRAFTER (STR(?item), "http://scholkg.kmi.open.ac.uk/aikg/resource/") ), LCASE(?__token__), "i")
                                              } ORDER BY DESC (?score) (?label) LIMIT 50
                                            '
                                placeholder='Select or search for a task..'
                                parents-query='SELECT ?item ?parent ?hasChildren WHERE {
                                                ?item skos:broader ?parent . 
                                                OPTIONAL { ?subtopic skos:broader ?item . }
                                                BIND (IF(BOUND(?subtopic), "true", "false") AS ?hasChildren)
                                               }'
                              >
                         <template id='node'>
                          
                              <mp-event-trigger type="Component.TemplateUpdate" targets='["event-target"]' data='{"item": "<{{iri}}>"}'>
                              <span>
                                {{label}} 
                              </span>
                              </mp-event-trigger>
                            
                          </template>
                        
                        
                        
                    </semantic-lazy-tree>
                    </div>

                       <hr>

                    <h2>KMI AI-KG Methods</h2>
                    <div style="padding: 20px; margin: 20px; height:500px; background-color: #f7f7f7; border: 1px solid #e8e8e8;">
                    <semantic-lazy-tree
                            roots-query='SELECT DISTINCT ?item ?hasChildren WHERE {
                                          ?item a <http://scholkg.kmi.open.ac.uk/aikg/ontology#Method>
                                          FILTER NOT EXISTS { ?item skos:broader ?supertopic . }  
                                          OPTIONAL { ?subtopic skos:broader ?item. } 
                                          BIND (IF(BOUND(?subtopic), "true", "false") AS ?hasChildren)
                                        }'

                                children-query='SELECT ?item ?hasChildren WHERE {
                                                  ?item  skos:broader ?parent . 
                                                  OPTIONAL { ?subtopic  skos:broader  ?item . }
                                                  BIND (IF(BOUND(?subtopic), "true", "false") AS ?hasChildren) 
                                                }'
                                node-template='{{> node2}}'

                                search-query='SELECT DISTINCT ?item ?label ?score ?hasChildren WHERE {
                                                ?item a <http://scholkg.kmi.open.ac.uk/aikg/ontology#Method> .
                                                BIND ( STRAFTER (STR(?item), "http://scholkg.kmi.open.ac.uk/aikg/resource/") AS ?label)
                                                BIND("false" AS ?hasChildren)
                                                FILTER REGEX(LCASE(STRAFTER (STR(?item), "http://scholkg.kmi.open.ac.uk/aikg/resource/") ), LCASE(?__token__), "i")
                                              } ORDER BY DESC (?score) (?label) LIMIT 50
                                            '
                                placeholder='Select or search for a task..'
                                parents-query='SELECT ?item ?parent ?hasChildren WHERE {
                                                ?item skos:broader ?parent . 
                                                OPTIONAL { ?subtopic skos:broader ?item . }
                                                BIND (IF(BOUND(?subtopic), "true", "false") AS ?hasChildren)
                                               }'
                                                >
                          <template id='node2'>
                          
                              <mp-event-trigger type="Component.TemplateUpdate" targets='["event-target"]' data='{"item": "<{{iri}}>"}'>
                              <span>
                                {{label}} 
                              </span>
                              </mp-event-trigger>
                            
                          </template>
                          
                          
                          
                      </semantic-lazy-tree>
                    </div>
                </div>
              </mp-workspace-item>
            <mp-workspace-item id='2'>
              <div class='grid-demo' style='flex: 1; padding: 20px'>
               <mp-event-target-template-render id="event-target" template="{{> template}}">
                <template id="template">
                
               
                  <h2>Graph View</h2>
                  <div style="height:500px">
                     {{#if item}}
                   <div class='ontodia-container'  >
                      <div class='ontodia-workspace-container' style="height:500px" >
                        <ontodia query="PREFIX kmi: <http://scholkg.kmi.open.ac.uk/aikg/ontology#>
                                        CONSTRUCT {  
                                        ?this skos:broader ?parent ;
                                              skos:narrower ?child .
                                        ?s ?p ?o .
                                        } 
                                        WHERE {
                                            # retrieve parents
                                            {
                                              {{item}} skos:broader ?parent. 
                                            }
                                            # retrieve children
                                            UNION 
                                            {
                                              ?child skos:broader {{item}}. 
                                            } 
                                            # retrieve methods (if item is task)
                                            UNION 
                                            {
                                              {{item}} ?p ?o. 
                                              {{item}} a kmi:Task .
                                              ?o a kmi:Method .
                                              BIND({{item}} as ?s)
                                            }
                                            # retrieve tasks (if item is method)
                                            UNION 
                                            {
                                              {{item}} ?p ?o . 
                                              {{item}} a kmi:Method .
                                              ?o a kmi:Task .
                                              BIND({{item}} as ?s)
                                            }
                                          BIND ({{item}} as ?this) 
                                        }"  >
                         </ontodia>
                      </div>
                      <div class='ontodia-knowledge-panel-container'>
                        <mp-event-proxy
                                        id='proxy-selection'
                                        on-event-type='Ontodia.ShowElementInfo'
                                        proxy-event-type='KnowledgePanel.Open'
                                        proxy-targets='[]'>
                        </mp-event-proxy>
                        <semantic-context repository='default'>
                          <mp-knowledge-panel-frame no-pin=true></mp-knowledge-panel-frame>
                        </semantic-context>
                      </div>
                    </div>
                  {{/if}}
                  </div>
                  <h2>Broader/Narrower topics</h2>
                  <div style="height:500px">
                     {{#if item}}
                  <semantic-tree
                      query="
                              SELECT ?node ?parent 
                              WHERE {
                                {
                                  {{item}} skos:narrower ?node . 
                                  BIND ({{item}} as ?parent)
                                } 
                                UNION 
                                {
                                  ?parent skos:narrower {{item}} . 
                                  BIND ({{item}} as ?node) 
                                }
                              } "
                      provider='d3-sankey'  
                      d3-tree-options='{"nodeWidth":300, "nodeHeight":100, "nodeLeftMargin": 5}'>
                  </semantic-tree>
                     {{/if}}
                  </div>

               
                 </mp-event-target-template-render>
                </template>
              </div>
            </mp-workspace-item>
           
          </mp-workspace-row>
        </mp-workspace-layout>
</div>