<style>
  .grid {
    display: grid;
    grid-template-rows: calc(100% - 58px) 42px;
    grid-gap: 16px;
  }

  .single-grid {
    grid-template-columns: 1fr;
  }

  .panel {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.12);
    height: 100%;
  }
</style>

<div style="margin-bottom: 30px;">
  <div class="text-center">
    <h1 style="padding: 30px 0;"><b>Competency Knowledge Graph</b></h1>
  </div>

  <bs-row>
    <bs-col sm='8' sm-offset='2'>

      <div class="grid single-grid">
        <div class="panel">
          <bs-row style='padding: 50px 0;'>
            <bs-col sm='10' sm-offset='1'>
              <h5 class="text-center" style="color: grey; padding-bottom: 10px;">Search over Competencies, Competency Holders, and Competency Targets</h5>
              <semantic-search limit=1000
                [[> :competencyTypeSearchConfig]]>
                <semantic-search-query-keyword-type
                  default-query='SELECT ?subject WHERE {
                        ?subject a ?__domain__ .
                    }'
                  default-count-query='SELECT (COUNT(*) as ?count) WHERE {
                      ?subject a ?__domain__
                    }'
                  count-query-mode='queryPerCategory'
                  token-pattern='
                    SERVICE Repository:lookup {
                        ?subject lookup:token ?__token__  .
                        ?subject lookup:limit 1000  .
                        ?subject lookup:type ?__domain__ .
                    }
                  '
                  inline-suggest='true'
                  placeholder="Enter your search term here"
                >
                </semantic-search-query-keyword-type>

                [[> :typeSearchResultsTemplate]]

              </semantic-search>

              <h6 class="text-center" style="color: grey; padding: 10px 0;">Use the various connections between competencies (<span style="color: #008cba;">tasks, methods, metrics, materials</span>), competency holders (<span style="color: #008cba;">persons, organisations</span>),<br>and competency targets (<span style="color: #008cba;">projects, applications, functionalities, processes</span>) to refine your search!</h6>

              <h6 class="text-center" style="color: grey;">For further information, refer to our <a href="https://github.com/metaphacts/competency-kg/wiki">Wiki</a>.</h6>

            </bs-col>
          </bs-row>
        </div>
      </div>

      <div class="grid single-grid">
        <div class="panel">  
          <bs-row style='padding: 50px 0;'>
            <bs-col sm='10' sm-offset='1'>
              <h5 class="text-center" style="color: grey;">Not finding what you are looking for?</h5>

              <div class="KeywordTypeQuery--domainCards">
                <div data-flex-layout="rows stretch-stretch">
                  [[#> AddResourceModal resourceType="Person" thumbnail="https://uxwing.com/wp-content/themes/uxwing/download/12-peoples-avatars/person-profile.png"]]
                    [[#*inline "modalContent"]][[> :formPerson]][[/inline]]
                  [[/AddResourceModal]]

                  [[#> AddResourceModal resourceType="Organisation" thumbnail="https://uxwing.com/wp-content/themes/uxwing/download/42-business-professional-services/company-enterprise.png"]]
                    [[#*inline "modalContent"]][[> :formOrganisation]][[/inline]]
                  [[/AddResourceModal]]

                  [[#> AddResourceModal resourceType="Project" thumbnail="https://uxwing.com/wp-content/themes/uxwing/download/42-business-professional-services/project-work.png"]]
                    [[#*inline "modalContent"]][[> :formCompetencyTarget type="http://xmlns.com/foaf/0.1/Project"]][[/inline]]
                  [[/AddResourceModal]]

                  [[#> AddResourceModal resourceType="Application" thumbnail="https://uxwing.com/wp-content/themes/uxwing/download/07-web-app-development/desktop-application-app.png"]]
                    [[#*inline "modalContent"]][[> :formCompetencyTarget type="http://ontologies.metaphacts.com/competencies/Application"]][[/inline]]
                  [[/AddResourceModal]]

                  [[#> AddResourceModal resourceType="Functionality" thumbnail="https://uxwing.com/wp-content/themes/uxwing/download/18-education-school/formula-fx.png"]]
                    [[#*inline "modalContent"]][[> :formCompetencyTarget type="http://ontologies.metaphacts.com/competencies/Functionality"]][[/inline]]
                  [[/AddResourceModal]]

                  [[#> AddResourceModal resourceType="Process" thumbnail="https://uxwing.com/wp-content/themes/uxwing/download/42-business-professional-services/manufacturing-process-engineer.png"]]
                    [[#*inline "modalContent"]][[> :formCompetencyTarget type="http://ontologies.metaphacts.com/competencies/Process"]][[/inline]]
                  [[/AddResourceModal]]
                </div>
              </div>
            </bs-col>
          </bs-row>
        </div>
      </div>
    </bs-col>
  </bs-row>
</div>

[[#*inline "AddResourceModal"]]
<mp-overlay-dialog title="Add [[resourceType]]" bs-size="large">
  <mp-overlay-dialog-trigger>
    <div data-flex-self="size-1of3 md-half sm-full" class="KeywordTypeQuery--domainCardItem">
      <button type="button" class="btn btn-secondary KeywordTypeQuery--domainCard ">
        <span class="KeywordTypeQuery--domainThumbnail">
          <img src="[[thumbnail]]" alt="[[resourceType]]">
        </span>
        <span class="h4" style="padding-top: 10px;">Add [[resourceType]]</span>
      </button>
    </div>
  </mp-overlay-dialog-trigger>
  <mp-overlay-dialog-content>
    [[> modalContent]]
  </mp-overlay-dialog-content>
</mp-overlay-dialog>
[[/inline]]