[[#> :pageEntityView]]

[[#*inline "viewDetailSection"]]
  [[> :viewDetail label="Name" predicate="rdfs:label" singleValue=true]]
  [[> :viewDetail label="Description" predicate="comp:description" singleValue=true]]
  [[> :viewDetail label="Affiliated with" predicate="<http://www.w3.org/ns/org#memberOf>"]]
  [[> :viewDetail label="Competencies" predicate="comp:hasCompetency"]]
  [[> :viewDetail label="Creator of" predicate="comp:creatorOf"]]
  [[> :viewDetail label="Contributor to" predicate="comp:isInvolvedIn"]]
  [[> :viewDetail label="Publications" predicate="comp:author" inverse=true]]
[[/inline]]

[[#*inline "editDetailSection"]]
  [[> :formPerson editMode=true]]
[[/inline]]

[[#*inline "customSection"]]
<div style="padding-top: 30px;">
  <bs-row>
    [[> :viewMoreRelevantCompetencies]]

    [[> :viewMoreRelevantCompetenciesBasedOnCompetencyTargets]]

    [[> :viewMoreRelevantCompetenciesBasedOnAgents]]

    [[> :viewMoreRelevantCompetenciesBasedOnPublications]]

    [[> :viewEntitiesWithSimilarCompetencies entityTypeName="Person or Organisation" sourcePredicate="comp:hasCompetency" targetPredicate="comp:hasCompetency"]]

    [[> :viewEntitiesWithSimilarCompetencies entityTypeName="Project or Application" sourcePredicate="comp:hasCompetency" targetPredicate="comp:appliesCompetency"]]
  </bs-row>
</div>
[[/inline]]
[[/app:EntityView]]
